version: '3.8'
services:
  book-app:
    build: .
    container_name: book-app
    environment:
      - PORT=3000
      - JAEGER_HOST=jaeger
      - JAEGER_PORT=6832
    ports:
      - "3000:3000"
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:1.41
    container_name: jaeger
    ports:
      - "16686:16686"   # Jaeger UI
      - "6831:6831/udp" # Jaeger agent (UDP)
      - "6832:6832/udp"
      - "14268:14268"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      - book-app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
